hr {
    margin-top: 20px;
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
}

.info {
    font-size: small;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}
