<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>$title$ - HaskellMN</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@HaskellMN" />
    <meta name="twitter:title" content="$title$" />
    <meta name="twitter:description" content="$description$" />
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/474779586887045120/QfYRudrh.jpeg" />
    <meta name="description" content="$description$">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
    <link rel="stylesheet" type="text/css" href="/css/markdown.css"/>
    <link rel="stylesheet" type="text/css" href="/css/haskellmn.css"/>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
<header>
    <h1><i>HaskellMN</i></h1>
    <h2> :: forall a. a -> Meetup [a]</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/archive.html">Posts</a>
        <a href="https://twitter.com/HaskellMN">Twitter</a>
        <a href="https://www.meetup.com/HaskellMN/">Meetup</a>
        <a href="https://github.com/HaskellMN">GitHub</a>
        <a href="https://groups.google.com/forum/#!forum/haskellmn">Google Group</a>
    </nav>
</header>
<article>
<h2>$title$</h2>
$body$
</article>
<footer>
    <hr>
    <p>See a problem with our site? Fix it on <a href="https://github.com/HaskellMN/www.haskellmn.org">GitHub</a>.</p>
    <p>Made with <a href="http://jaspervdj.be/hakyll/">Hakyll</a> and <a href="http://www.celador.mn/widely/">Widely</a>.</p>
    <p>©<script>document.write(new Date().getFullYear().toString())</script>
    $if(author)$$author$$else$HaskellMN$endif$</p>
</footer>
</body>
</html>
